@model dotNetBlainsBoredClient.Models.ActivityCreateModel

@{
    ViewData["Title"] = "Query";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>

    <h4>Let's find something to do!</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" method="POST">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Activity.type" class="control-label"></label><br />
                    <select asp-items="@(new SelectList(Model.ActivityTypes))" class="form-control" asp-for="Activity.type">
                            <option value="">Please select...</option>
                    </select>
                    <span asp-validation-for="Activity.type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Activity.participants" class="control-label"></label>
                    <input type="number" asp-for="Activity.participants" class="form-control" placeholder="number of participants" />
                    <span asp-validation-for="Activity.participants" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Activity.price" class="control-label"></label>
                    <input type="number" asp-for="Activity.price" class="form-control" placeholder="(enter 0 for free) to expensive" />
                    <span asp-validation-for="Activity.price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Activity.accessibility" class="control-label"></label>
                    <input asp-for="Activity.accessibility" class="form-control" placeholder="most to least (enter 0 for least)"/>
                    <span asp-validation-for="Activity.accessibility" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Go!" class="btn btn-primary" style="margin-top: 20px"/>
                </div>
            </form>
        </div>
    </div>

    <table class="table">
        @if (Model.listActivities != null)
        {
            <thead>
                <tr>
                    <th>Description</th>
                    <th></th>
                    <th>Type</th>
                    <th></th>
                    <th>Number of participants</th>
                    <th></th>
                    <th>Relative price</th>
                    <th></th>
                    <th>Accessibility rating</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var activity in Model.listActivities)
                {
                    <tr>
                        <td>@activity.activity</td>
                        <td></td>
                        <td>@activity.type</td>
                        <td></td>
                        <td>@activity.participants</td>
                        <td></td>
                        <td>@activity.price</td>
                        <td></td>
                        <td>@activity.accessibility</td>
                    </tr>
                }
            </tbody>
        } 
    </table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
